---
import "@/styles/globals.css";
---

<header class="flex justify-between items-center relative z-10 py-10 px-40">
  <div class="flex gap-16 items-center">
    <a href="/">
      <img src="/shared/desktop/logo.svg" alt="logo" />
    </a>
    <ul class="flex gap-10">
      <li>
        <a
          href="/pricing"
          class="opacity-70 font-Public-Sans text-[0.9375rem] font-bold leading-normal text-[#36536b]"
          >Pricing</a
        >
      </li>
      <li>
        <a
          href="/about"
          class="opacity-70 font-Public-Sans text-[0.9375rem] font-bold leading-normal text-[#36536b]"
          >About</a
        >
      </li>
      <li>
        <a
          href="/contact"
          class="opacity-70 font-Public-Sans text-[0.9375rem] font-bold leading-normal text-[#36536b]"
          >Contact</a
        >
      </li>
    </ul>
  </div>
  <button
    type="button"
    class="block w-40 h-12 bg-[#ba4270] font-Public-Sans rounded-3xl text-[#FBFCFE] text-[0.9375rem] font-bold leading-normal tracking-[-0.00719rem]"
    >Schedule a Demo</button
  >
</header>
